[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "firstmil-proto"

[scripts]
build-proto = "bash -c 'mkdir -p protospy &&protoc --proto_path=../protos/ --python_out=protospy/ ../protos/firstmile.proto'"

[packages]
protobuf = "*"
paho-mqtt = "*"
dash = "*"